<% if (model.error) { %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    $model.error
</div>
<% } %>
<form class="form-horizontal" role="form" method="${model.method}" action="${model.action}">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="username" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" value="">
        </div>
    </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">${model.button}</button>
            <a href="/" class="btn btn-default">Back</a>
        </div>

    </div>

    <input type="hidden" name="client_name" id="client_name" value="FormClient">
</form>